.profile-sect {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 7em;
}

.header {
  font-size: 2em;
  padding-bottom: 1em;
}

.missionLi {
  border: black solid 1px;
  width: 30%;
  margin: auto;
  list-style: none;
  padding: 1em;
  font-size: 1.3em;
}
